<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wigellconcertsdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Root</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Här talar vi om vilka klasser i projektet som ska mappas mot motsvarande tabell i databasen -->
        <mapping class="com.grp5.entitys.Arena" />
        <mapping class="com.grp5.entitys.Concerts" />
        <mapping class="com.grp5.entitys.Addresses" />
        <mapping class="com.grp5.entitys.Customer" />
        <mapping class="com.grp5.entitys.WC" />
    </session-factory>
</hibernate-configuration>